{% extends "proyecto_web/base.html" %}

{% load static %}

{% block content %}

<form method="post" action="{% url 'buscar_inicio' %}" class="form-inline float-right">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" name="q" class="form-control form-control-sm" placeholder="buscar por titulo">
  </div>
  <button type="submit" class="btn btn-success" style="background-color: #dc3545;">Buscar</button>
</form>




{% for post in posts %}
<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <div class="row">
                <div class="col-md-6">
                    {% if post.imagen %}
                    <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.imagen.url }}" alt="">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="intro-text left-0 bg-faded p-5 rounded">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-lower"><a href="{% url 'post_detail' post.id %}">{{ post.titulo }}</a></span>
                            <span class="section-heading-upper"></span>
                        </h2>Categorias: 
                        {% for categoria in post.categorias.all %}
                          {{ categoria.nombre }}
                        {% endfor %}
                        <div style="text-align: left;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endfor %}
{% endblock %}