{% extends "proyecto_web/base.html" %}

{% load static %}

{% block content %}

<form method="post" action="{% url 'buscar_posts' %}" class="form-inline float-right">
  {% csrf_token %}
  <div class="form-group">
    <input type="text" name="q" class="form-control form-control-sm" placeholder="buscar por titulo">
  </div>
  <button type="submit" class="btn btn-success" style="background-color: #dc3545;">Buscar</button>
</form>




    {% for post in posts %}
    
    
    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src= "{{ post.imagen }}" alt="" style="width: 50%;">
                <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4" >
                  <span class="section-heading-lower"><a href="{% url 'post_detail' post.id %}">{{post.titulo}}</a></span>
                  <span class="section-heading-upper">{{post.contenido| slice:"10"}}</span>
              </h2>
              <div style="text-align: left;">
                
                  Autor: {{post.autor}}
                  
              </div>
              
            </div>
          </div>
        </div>
      </section>

    {% endfor %}

    </section>

{% endblock %}
