{% extends "proyecto_web/base.html" %}

{% load static %}

{% block content %}

<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
     {% if post.imagen %} 
     <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.imagen.url }}" alt="" style="width: 50%;">
     {% endif %}
     <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower">{{ post.titulo }}</span>
          <span class="section-heading-upper">{{ post.contenido }}</span>
          <span class="section-heading-upper">categoria {% for categoria in post.categorias.all %}
            {{ categoria.nombre }}
          {% endfor %}</span>
        </h2>
        <div style="text-align: left; font-family: 'Lora', serif; font-size: 16px; color: #333;">
          {{ post.autor }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Botones de comentarios, solo lo veran si el el usuario y el autor son iguales-->
<h3>Comentarios</h3>
{% for comentario in post.comentario_set.all %}
    <p><strong>{{ comentario.autor }}</strong></p>
    <p>{{ comentario.contenido }}</p>
    {% if request.user == comentario.autor %}
    <a href="{% url 'borrar_comentario' comentario.pk %}" class="btn btn-info">borrar</a>
    <a href="{% url 'modificar_comentario' comentario.pk %}" class="btn btn-info">modificar</a>
    {% endif %}
{% endfor %}

<!-- Agregar formulario de comentarios -->
<section class="page-section clearfix">
  <h3>Comentar</h3>
  <form method="post" action="{% url 'post_detail' post.id %}">
    {% csrf_token %}
    {{ comentario_form.as_p }}
    <button type="submit">Comentar</button>
  </form>
</section>

{% endblock content %}
