{% extends "proyecto_web/base.html" %}

{% load static %}

{% block content %}


<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
     {% if post.imagen %} 
     <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{ post.imagen.url }}" alt="" style="width: 50%;">
     {% endif %}
     <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-lower">{{ post.titulo }}</span>
          <span class="section-heading-upper">{{ post.contenido }}</span>
          <span class="section-heading-upper">categoria {{ post.categoria }}</span>
        </h2>
        <div style="text-align: left; font-family: 'Lora', serif; font-size: 16px; color: #333;">
          {{ post.autor }}
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}