{% extends "proyecto_web/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-body bg-transparent text-dark">
                    <h1 class="card-title text-center mb-4">¡Contáctanos!</h1>
                    <p class="card-text">Si deseas comunicarte con nosotros o conocer más sobre nuestro grupo, no dudes en contactarnos a través de nuestro Instagram.</p>
                    <div class="text-center">
                        <a href="https://www.instagram.com/grupo1_info2023/" target="_blank" class="btn btn-primary btn-lg">Síguenos en Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


